<%- include('partials/header') %>
    <main>
        <h1>
            <%= title %>
        </h1>
        <h2>Upcoming Service Projects</h2>
        <ul>
            <% projects.forEach(project=> { %>
                <li>
                    <% if (project.logo) { %>
                        <% } %>
                        <strong>
                            <%= new Date(project.date).toLocaleDateString('en-EN', { year: 'numeric' , month: 'long' , day: 'numeric' }) %>:
                        </strong>
                        <%= project.title %> (<%= project.organization_name %>)
                </li>
                <% }); %>
        </ul>
    </main>
    <%- include('partials/footer') %>